# Econometrics seminar

### Wooldridge
We are gonno need Data sets from wooldridge. [Click here](https://pypi.org/project/wooldridge/) to get manual to install

In [181]:
import numpy as np
import matplotlib.pyplot as plt

In [182]:
wooldridge.data()

  J.M. Wooldridge (2019) Introductory Econometrics: A Modern Approach,
  Cengage Learning, 6th edition.

  401k       401ksubs    admnrev       affairs     airfare
  alcohol    apple       approval      athlet1     athlet2
  attend     audit       barium        beauty      benefits
  beveridge  big9salary  bwght         bwght2      campus
  card       catholic    cement        census2000  ceosal1
  ceosal2    charity     consump       corn        countymurders
  cps78_85   cps91       crime1        crime2      crime3
  crime4     discrim     driving       earns       econmath
  elem94_95  engin       expendshares  ezanders    ezunem
  fair       fertil1     fertil2       fertil3     fish
  fringe     gpa1        gpa2          gpa3        happiness
  hprice1    hprice2     hprice3       hseinv      htv
  infmrt     injury      intdef        intqrt      inven
  jtrain     jtrain2     jtrain3       kielmc      lawsch85
  loanapp    lowbrth     mathpnl       meap00_01   meap01
  meap93     meapsingle  minwage       mlb1        mroz
  murder     nbasal      nyse          okun        openness
  pension    phillips    pntsprd       prison      prminwge
  rdchem     rdtelec     recid         rental      return
  saving     sleep75     slp75_81      smoke       traffic1
  traffic2   twoyear     volat         vote1       vote2
  voucher    wage1       wage2         wagepan     wageprc
  wine

In [183]:
import wooldridge

1. Use the data in [WAGE1.RAW](#get_wage1) for this exercise.

    1. Find the [average education](#average) level in the sample. [What are the lowest and highest years of education?](#max_min)
    2. [Find the average hourly wage in the sample](#av_hour_wage). Does it seem high or low?
    3. The wage data are reported in 1976 dollars. Using the Economic Report of the President (2011 or later), obtain and report the Consumer Price Index (CPI) for the years 1976 and 2010.
    4. Use the CPI values from part (iii) to find the average hourly wage in 2010 dollars. Now does the average hourly wage seem reasonable? How many women are in the sample? How many men?


<p id="get_wage1">Downloadin WAGE1 data.</p>

In [184]:
wooldridge.data('mroz', description=True)

name of dataset: mroz
no of variables: 22
no of observations: 753

+----------+---------------------------------+
| variable | label                           |
+----------+---------------------------------+
| inlf     | =1 if in lab frce, 1975         |
| hours    | hours worked, 1975              |
| kidslt6  | # kids < 6 years                |
| kidsge6  | # kids 6-18                     |
| age      | woman's age in yrs              |
| educ     | years of schooling              |
| wage     | est. wage from earn, hrs        |
| repwage  | rep. wage at interview in 1976  |
| hushrs   | hours worked by husband, 1975   |
| husage   | husband's age                   |
| huseduc  | husband's years of schooling    |
| huswage  | husband's hourly wage, 1975     |
| faminc   | family income, 1975             |
| mtr      | fed. marg. tax rte facing woman |
| motheduc | mother's years of schooling     |
| fatheduc | father's years of schooling     |
| unem     | unem. rate in county of resid.  |
| city     | =1 if live in SMSA              |
| exper    | actual labor mkt exper          |
| nwifeinc | (faminc - wage*hours)/1000      |
| lwage    | log(wage)                       |
| expersq  | exper^2                         |
+----------+---------------------------------+

T.A. Mroz (1987), “The Sensitivity of an Empirical Model of Married
Women’s Hours of Work to Economic and Statistical Assumptions,”
Econometrica 55, 765-799. Professor Ernst R. Berndt, of MIT, kindly
provided the data, which he obtained from Professor Mroz.

In [185]:
df = wooldridge.data('mroz')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   inlf      753 non-null    int64
 1   hours     753 non-null    int64
 2   kidslt6   753 non-null    int64
 3   kidsge6   753 non-null    int64
 4   age       753 non-null    int64
 5   educ      753 non-null    int64
 6   wage      428 non-null    float64
 7   repwage   753 non-null    float64
 8   hushrs    753 non-null    int64
 9   husage    753 non-null    int64
 10  huseduc   753 non-null    int64
 11  huswage   753 non-null    float64
 12  faminc    753 non-null    float64
 13  mtr       753 non-null    float64
 14  motheduc  753 non-null    int64
 15  fatheduc  753 non-null    int64
 16  unem      753 non-null    float64
 17  city      753 non-null    int64
 18  exper     753 non-null    int64
 19  nwifeinc  753 non-null    float64
 20  lwage     428 non-null    float64
 21  expersq   753 non-null    int64
dtypes: float64(8), int64(14)
memory usage: 129.5 KB

In [186]:
df

,inlf,hours,kidslt6,kidsge6,age,educ,wage,repwage,hushrs,husage,...,faminc,mtr,motheduc,fatheduc,unem,city,exper,nwifeinc,lwage,expersq
0,1,1610,1,0,32,12,3.3540,2.65,2708,34,...,16310.0,0.7215,12,7,5.0,0,14,10.910060,1.210154,196
1,1,1656,0,2,30,12,1.3889,2.65,2310,30,...,21800.0,0.6615,7,7,11.0,1,5,19.499981,0.328512,25
2,1,1980,1,3,35,12,4.5455,4.04,3072,40,...,21040.0,0.6915,12,7,5.0,0,15,12.039910,1.514138,225
3,1,456,0,3,34,12,1.0965,3.25,1920,53,...,7300.0,0.7815,7,7,5.0,0,6,6.799996,0.092123,36
4,1,1568,1,2,31,14,4.5918,3.60,2000,32,...,27300.0,0.6215,12,14,9.5,1,7,20.100058,1.524272,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,0,0,0,2,40,13,NaN,0.00,3020,43,...,28200.0,0.6215,10,10,9.5,1,5,28.200001,NaN,25
749,0,0,2,3,31,12,NaN,0.00,2056,33,...,10000.0,0.7715,12,12,7.5,0,14,10.000000,NaN,196
750,0,0,0,0,43,12,NaN,0.00,2383,43,...,9952.0,0.7515,10,3,7.5,0,4,9.952000,NaN,16
751,0,0,0,0,60,12,NaN,0.00,1705,55,...,24984.0,0.6215,12,12,14.0,1,15,24.983999,NaN,225
752,0,0,0,3,39,9,NaN,0.00,3120,48,...,28363.0,0.6915,7,7,11.0,1,12,28.363001,NaN,144

<p id="average"><b>1.A</b></p> Use the data in WAGE1.RAW for this exercise

In [187]:
df.educ.describe()

count    753.000000
mean      12.286853
std        2.280246
min        5.000000
25%       12.000000
50%       12.000000
75%       13.000000
max       17.000000
Name: educ, dtype: float64

In [188]:
print(f"Lowest year of education:{df.educ.min()}")

Lowest year of education:5

In [189]:
print(f"Highest year of education:{df.educ.max()}")

Highest year of education:17

<p id=""av_hour_wage""><b>1.B</b></p>
Find the average hourly wage in the sample. Does it seem high or low?

In [190]:
print(f"The average hourly wage in the sample.: {df.wage.mean().round(2)}")

The average hourly wage in the sample.: 4.18

2. Use the data in [BWGHT.RAW](#BWGHT.RAW) to answer this question
    1. How many [women are in the sample](#wom_in_sm), and how many report [smoking during pregnancy](#smok_dr_pr)?
    2. What is the [average number of cigarettes smoked per day](#av_p_d)? Is the average a good measure of the “typical” woman in this case? Explain.
    3. Among women who smoked during pregnancy, what is the [average number of cigarettes smoked per day](#ave_nm_sm_per_da)? How does this compare with your answer frompart (ii), and why?
    4. Find the [average of fatheduc](#av_fath_ed) in the sample. Why are only 1,192 observations used to compute this average?
    5. Report the average family income and its standard deviation in dollars.

<p id='BWGHT.RAW'><b>2.</b></p>
Use the data in BWGHT.RAW to answer this question

In [191]:
# Dataset Info
wooldridge.data('bwght', description=True)

name of dataset: bwght
no of variables: 14
no of observations: 1388

+----------+--------------------------------+
| variable | label                          |
+----------+--------------------------------+
| faminc   | 1988 family income, $1000s     |
| cigtax   | cig. tax in home state, 1988   |
| cigprice | cig. price in home state, 1988 |
| bwght    | birth weight, ounces           |
| fatheduc | father's yrs of educ           |
| motheduc | mother's yrs of educ           |
| parity   | birth order of child           |
| male     | =1 if male child               |
| white    | =1 if white                    |
| cigs     | cigs smked per day while preg  |
| lbwght   | log of bwght                   |
| bwghtlbs | birth weight, pounds           |
| packs    | packs smked per day while preg |
| lfaminc  | log(faminc)                    |
+----------+--------------------------------+

J. Mullahy (1997), “Instrumental-Variable Estimation of Count Data
Models: Applications to Models of Cigarette Smoking Behavior,” Review
of Economics and Statistics 79, 596-593. Professor Mullahy kindly
provided the data. He obtained them from the 1988 National Health
Interview Survey.

In [192]:
df = wooldridge.data('bwght')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1388 entries, 0 to 1387
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   faminc    1388 non-null   float64
 1   cigtax    1388 non-null   float64
 2   cigprice  1388 non-null   float64
 3   bwght     1388 non-null   int64
 4   fatheduc  1192 non-null   float64
 5   motheduc  1387 non-null   float64
 6   parity    1388 non-null   int64
 7   male      1388 non-null   int64
 8   white     1388 non-null   int64
 9   cigs      1388 non-null   int64
 10  lbwght    1388 non-null   float64
 11  bwghtlbs  1388 non-null   float64
 12  packs     1388 non-null   float64
 13  lfaminc   1388 non-null   float64
dtypes: float64(9), int64(5)
memory usage: 151.9 KB

<p id=""#wom_in_sm""><b>2.A</b></p>
How many women are in the sample, and how many report smoking during pregnancy?

In [193]:
df.loc[df['male']==1]

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
0,13.5,16.5,122.300003,109,12.0,12.0,1,1,1,0,4.691348,6.8125,0.0,2.602690
1,7.5,16.5,122.300003,133,6.0,12.0,2,1,0,0,4.890349,8.3125,0.0,2.014903
3,15.5,16.5,122.300003,126,12.0,12.0,2,1,0,0,4.836282,7.8750,0.0,2.740840
4,27.5,16.5,122.300003,134,14.0,12.0,2,1,1,0,4.897840,8.3750,0.0,3.314186
5,7.5,16.5,122.300003,118,12.0,14.0,6,1,0,0,4.770685,7.3750,0.0,2.014903
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1378,15.5,30.0,138.300003,121,12.0,12.0,1,1,1,0,4.795791,7.5625,0.0,2.740840
1380,5.5,30.0,138.300003,85,NaN,12.0,1,1,0,0,4.442651,5.3125,0.0,1.704748
1381,12.5,30.0,138.300003,87,14.0,12.0,1,1,1,0,4.465908,5.4375,0.0,2.525729
1383,27.5,30.0,138.300003,110,12.0,12.0,4,1,1,0,4.700480,6.8750,0.0,3.314186
1384,5.5,30.0,138.300003,146,NaN,16.0,2,1,1,0,4.983607,9.1250,0.0,1.704748

In [194]:
df.loc[df['male']==1].count()

faminc      723
cigtax      723
cigprice    723
bwght       723
fatheduc    618
motheduc    723
parity      723
male        723
white       723
cigs        723
lbwght      723
bwghtlbs    723
packs       723
lfaminc     723
dtype: int64

In [195]:
df.loc[(df['male']==1) & (df['cigs']>0)]

,faminc,cigtax,cigprice,bwght,fatheduc,motheduc,parity,male,white,cigs,lbwght,bwghtlbs,packs,lfaminc
22,15.5,16.5,122.300003,129,8.0,11.0,2,1,1,6,4.859812,8.0625,0.30,2.740840
68,7.5,21.0,127.699997,119,12.0,10.0,2,1,0,20,4.779123,7.4375,1.00,2.014903
92,7.5,21.0,127.699997,93,14.0,12.0,1,1,0,10,4.532599,5.8125,0.50,2.014903
97,22.5,10.0,126.400002,121,11.0,12.0,1,1,1,20,4.795791,7.5625,1.00,3.113515
107,27.5,10.0,126.400002,106,12.0,13.0,1,1,0,10,4.663439,6.6250,0.50,3.314186
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1336,5.5,30.0,138.300003,104,10.0,10.0,2,1,1,15,4.644391,6.5000,0.75,1.704748
1347,9.5,30.0,138.300003,80,NaN,12.0,1,1,1,15,4.382027,5.0000,0.75,2.251292
1348,32.5,30.0,138.300003,124,10.0,11.0,2,1,1,20,4.820282,7.7500,1.00,3.481240
1367,12.5,30.0,138.300003,130,16.0,14.0,1,1,1,15,4.867535,8.1250,0.75,2.525729
1375,17.5,30.0,138.300003,102,11.0,10.0,2,1,1,20,4.624973,6.3750,1.00,2.862201

In [196]:
df.loc[(df['male']==1) & (df['cigs']>0)]['male'].count()

100

<p id=""#av_p_d""><b>2.B</b></p>
What is the average number of cigarettes smoked per day? Is the average a good measure of the “typical” woman in this case? Explain.

In [197]:
df.cigs.mean().round(3)

2.087

<p id=""#av_p_d""><b>2.C</b></p> Among women who smoked during pregnancy, what is the average number of cigarettes smoked per day? How does this compare with your answer from part, and why?

In [198]:
df.loc[df['male']==0]['cigs'].mean().round(3)

2.09

<p id=""#av_fath_ed""><b>2.D</b></p>
Find the average of fatheduc in the sample. Why are only 1,192 observations used to compute this average?

In [199]:
print(f"The average of fathereduc is {df.fatheduc.mean().round(3)}")

The average of fathereduc is 13.186

3. The data in [MEAP01.RAW](#df_meap) are for the state of Michigan in the year 2001. Use these data data to answer the following questions.
    1. Find the [largest and smallest values of math4](#lar_sm_val). Does the range make sense? Explain.
    2. How many schools have a [perfect pass](#perf_pass) rate on the math test? What percentage is this of the total sample?
    3. How many schools have math pass [rates of exactly 50%](#50%)?
    4. Compare the average pass rates for the math and [reading scores](#reading_score). Which test is harder to pass?
    5. Find the [correlation between math4 and read4](#corr_math4_read4). What do you conclude?
    6. The variable exppp is expenditure per pupil. Find the [average of exppp](#aver_of_expp) alongwith its standard deviation. Would you say there is wide variation in per pupil spending?
    7. Suppose School A spends $\$6,000$ per student and School B spends $\$5,500$ per student. By what [percentage](#percentage) does School A’s spending exceed School B’s? Compare this to $100\cdot [\log(6,000) – \log(5,500)]$, which is the approximation percent- age difference based on the difference in the natural logs. (See Section A.4 in Appendix A.)

<p id=""#df_meap""><b>3</b></p>
The data in MEAP01.RAW are for the state of Michigan in the year 2001. Use these data data to answer the following questions.

In [200]:
wooldridge.data('meap01', description=True)

name of dataset: meap01
no of variables: 11
no of observations: 1823

+----------+-----------------------------------------------+
| variable | label                                         |
+----------+-----------------------------------------------+
| dcode    | district code                                 |
| bcode    | building code                                 |
| math4    | % students satisfactory, 4th grade math       |
| read4    | % students satisfactory, 4th grade reading    |
| lunch    | % students eligible for free or reduced lunch |
| enroll   | school enrollment                             |
| expend   | total spending, $                             |
| exppp    | expenditures per pupil: expend/enroll         |
| lenroll  | log(enroll)                                   |
| lexpend  | log(expend)                                   |
| lexppp   | log(exppp)                                    |
+----------+-----------------------------------------------+

Michigan Department of Education, www.michigan.gov/mde

In [201]:
df = wooldridge.data('meap01')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1823 entries, 0 to 1822
Data columns (total 11 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   dcode    1823 non-null   float64
 1   bcode    1823 non-null   int64
 2   math4    1823 non-null   float64
 3   read4    1823 non-null   float64
 4   lunch    1823 non-null   float64
 5   enroll   1823 non-null   int64
 6   expend   1823 non-null   float64
 7   exppp    1823 non-null   float64
 8   lenroll  1823 non-null   float64
 9   lexpend  1823 non-null   float64
 10  lexppp   1823 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 156.8 KB

<p id=""#larg_smal_val""><b>3</b></p>
Find the largest and smallest values of math4. Does the range make sense? Explain

In [202]:
print(f"Largest value of math is {df['math4'].max()}, smallest values of math4 is {df['math4'].min()}")

Largest value of math is 100.0, smallest values of math4 is 0.0

<p id=""#perf_pass""><b>3.A</b></p>
How many schools have a perfect pass rate on the math test? What percentage is this of the total sample?

In [203]:
print(f"There are {df['math4'].loc[df['math4']>=90].count()} schools have perfect pass rate on the math text ")

There are 333 schools have perfect pass rate on the math text

<p id=""#perf_pass""><b>3.B</b></p>
How many schools have a perfect pass rate on the math test? What percentage is this of the total sample?

In [204]:
print(f"The percentage of the total sample {df['math4'].loc[df['math4']>=90].count()/df['math4'].count()*100}")

The percentage of the total sample 18.266593527153045

<p id=""#50%""><b>3.C</b></p>
How many schools have math pass rates of exactly 50%?

In [205]:
print(f"There are {df['math4'].loc[df['math4']==50].count()} schools math rates exactly 50%")

There are 17 schools math rates exactly 50%

<p id=""#reading_score""><b>3.D</b></p>
Compare the average pass rates for the math and reading scores. Which test is harder to pass?

In [206]:
print(f"Average pass rates math {df['math4'].mean().round(3)}.")
print(f"Average pass rates reading scores {df['read4'].mean().round(3)}")

Average pass rates math 71.909.
Average pass rates reading scores 60.062

<p id=""#corr_math4_read4""><b>3.D</b></p>
Find the correlation between math4 and read4. What do you conclude?

In [207]:
print(f"Correlation matixis between math4 and read4 is \n {df[['math4','read4']].corr()}")

Correlation matixis between math4 and read4 is
           math4     read4
math4  1.000000  0.842728
read4  0.842728  1.000000

<p id=""#aver_of_expp""><b>3.E</b></p>
The variable exppp is expenditure per pupil. Find the average of exppp alongwith its standard deviation. Would you say there is wide variation in per pupil spending?

In [208]:
print(f"Average expenditute per pupil is {df.exppp.mean().round(3)}")

Average expenditute per pupil is 5194.865

<p id=""#percentage""><b>3.F</b></p>
Suppose School A spends $\$6,000$ per student and School B spends $\$5,500$ per student. By what percentage does School A’s spending exceed School B’s? Compare this to $100\cdot [\log(6,000) – \log(5,500)]$, which is the approximation percent- age difference based on the difference in the natural logs. (See Section A.4 in Appendix A.)


4. The data in JTRAIN2.RAW come from a job training experiment conducted for low- income men during $1976–1977$; see Lalonde $(1986)$.
    1. Use the indicator variable train to determine the fraction of men receiving job training.
    2. The variable re78 is earnings from $1978$, measured in thousands of $1982$ dollars. Find the averages of re78 for the sample of men receiving job training and the sample not receiving job training. Is the difference economically large?
    3. The variable unem78 is an indicator of whether a man is unemployed or not in $1978$. What fraction of the men who received job training are unemployed? What about for men who did not receive job training? Comment on the difference.
    4. From parts (ii) and (iii), does it appear that the job training program was effective? What would make our conclusions more convincing?

5. The data in FERTIL2.DTA were collected on women living in the Republic of Botswana in $1988$. The variable children refers to the number of living children. The variable electric is a binary indicator equal to one if the woman’s home has electricity, and zero if not.
    1. Find the smallest and largest values of children in the sample. What is the average of children?
    2. What percentage of women have electricity in the home?
    3. Compute the average of children for those without electricity and do the same for those with electricity. Comment on what you find.
    4. From part (iii), can you infer that having electricity “causes” women to have fewer children? Explain.

<p id="detailed-explanation">Обратите внимание, это важно.</p>