# Econometrics seminar № 4

In [9]:
import numpy as np # библиотека для работы со статистическиим данными
import matplotlib.pyplot as plt # библиотека для отображения графиков


import statsmodels.formula.api as smf # для построения регрессий
import wooldridge # для работы с датасетами

from scipy import stats as st # для работы с статистическими таблицами

In [2]:
wooldridge.data()

  J.M. Wooldridge (2019) Introductory Econometrics: A Modern Approach,
  Cengage Learning, 6th edition.

  401k       401ksubs    admnrev       affairs     airfare
  alcohol    apple       approval      athlet1     athlet2
  attend     audit       barium        beauty      benefits
  beveridge  big9salary  bwght         bwght2      campus
  card       catholic    cement        census2000  ceosal1
  ceosal2    charity     consump       corn        countymurders
  cps78_85   cps91       crime1        crime2      crime3
  crime4     discrim     driving       earns       econmath
  elem94_95  engin       expendshares  ezanders    ezunem
  fair       fertil1     fertil2       fertil3     fish
  fringe     gpa1        gpa2          gpa3        happiness
  hprice1    hprice2     hprice3       hseinv      htv
  infmrt     injury      intdef        intqrt      inven
  jtrain     jtrain2     jtrain3       kielmc      lawsch85
  loanapp    lowbrth     mathpnl       meap00_01   meap01
  meap93     meapsingle  minwage       mlb1        mroz
  murder     nbasal      nyse          okun        openness
  pension    phillips    pntsprd       prison      prminwge
  rdchem     rdtelec     recid         rental      return
  saving     sleep75     slp75_81      smoke       traffic1
  traffic2   twoyear     volat         vote1       vote2
  voucher    wage1       wage2         wagepan     wageprc
  wine

1. Use the [data](#data) in WAGE2.RAW for this exercise.
    1. [Consider](#conside) the standard wage equation $log(wage) = \beta_0 + \beta_1*educ + \beta_2*exper + \beta_3*tenure + u$. State the null hypothesis that another year of general workforce experience has the same effect on log(wage) as another year of tenure with the current employer.
    2. [Test](#test) the null hypothesis in part (i) against a two-sided alternative, at the 5% significance level, by constructing a 95% confidence interval. What do you conclude?

<p id="likely"><b>1</b></p>
Use the data in wage2 for this exercise.

In [8]:
wooldridge.data('wage2',description=True)

name of dataset: wage2
no of variables: 17
no of observations: 935

+----------+-------------------------------+
| variable | label                         |
+----------+-------------------------------+
| wage     | monthly earnings              |
| hours    | average weekly hours          |
| IQ       | IQ score                      |
| KWW      | knowledge of world work score |
| educ     | years of education            |
| exper    | years of work experience      |
| tenure   | years with current employer   |
| age      | age in years                  |
| married  | =1 if married                 |
| black    | =1 if black                   |
| south    | =1 if live in south           |
| urban    | =1 if live in SMSA            |
| sibs     | number of siblings            |
| brthord  | birth order                   |
| meduc    | mother's education            |
| feduc    | father's education            |
| lwage    | natural log of wage           |
+----------+-------------------------------+

M. Blackburn and D. Neumark (1992), “Unobserved Ability, Efficiency
Wages, and Interindustry Wage Differentials,” Quarterly Journal of
Economics 107, 1421-1436. Professor Neumark kindly provided the data,
of which I used just the data for 1980.

In [3]:
df = wooldridge.data('wage2')
df

,wage,hours,IQ,KWW,educ,exper,tenure,age,married,black,south,urban,sibs,brthord,meduc,feduc,lwage
0,769,40,93,35,12,11,2,31,1,0,0,1,1,2.0,8.0,8.0,6.645091
1,808,50,119,41,18,11,16,37,1,0,0,1,1,NaN,14.0,14.0,6.694562
2,825,40,108,46,14,11,9,33,1,0,0,1,1,2.0,14.0,14.0,6.715384
3,650,40,96,32,12,13,7,32,1,0,0,1,4,3.0,12.0,12.0,6.476973
4,562,40,74,27,11,14,5,34,1,0,0,1,10,6.0,6.0,11.0,6.331502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,520,40,79,28,16,6,1,30,1,1,1,0,0,1.0,11.0,NaN,6.253829
931,1202,40,102,32,13,10,3,31,1,0,1,1,7,7.0,8.0,6.0,7.091742
932,538,45,77,22,12,12,10,28,1,1,1,0,9,NaN,7.0,NaN,6.287858
933,873,44,109,25,12,12,12,28,1,0,1,0,1,1.0,NaN,11.0,6.771935
934,1000,40,107,32,12,17,18,35,1,0,1,0,5,1.0,NaN,NaN,6.907755

<p id="conside"><b>1.A</b></p>
Consider the standard wage equation $log(wage) =  \beta_0 + 
\beta_1*educ + \beta_2*exper + \beta_3*tenure + u$. State the null hypothesis that another year of general workforce experience has the same effect on $log(wage)$ as another year of tenure with the current employer.

In [4]:

model = smf.ols(formula='np.log(wage)~educ+exper+tenure', data = df)
res = model.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.155
Model:                            OLS   Adj. R-squared:                  0.152
Method:                 Least Squares   F-statistic:                     56.97
Date:                Mon, 23 Jun 2025   Prob (F-statistic):           8.12e-34
Time:                        15:01:22   Log-Likelihood:                -438.84
No. Observations:                 935   AIC:                             885.7
Df Residuals:                     931   BIC:                             905.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.4967      0.111     49.731      0.000       5.280       5.714
educ           0.0749      0.007     11.495      0.000       0.062       0.088
exper          0.0153      0.003      4.549      0.000       0.009       0.022
tenure         0.0134      0.003      5.170      0.000       0.008       0.018
==============================================================================
Omnibus:                       20.917   Durbin-Watson:                   1.769
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.558
Skew:                          -0.214   Prob(JB):                     2.31e-07
Kurtosis:                       3.775   Cond. No.                         170.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

To state the null hypothesis that another year of geneal workforce experitnce has the same effect as another year 
$$
H_0: \beta_2 = \beta_3
$$
$$
H_1: \beta_2 > \beta_3
$$
To simplify hypotheses, rewrite the null alternative as $H_0: \beta_2 - \beta_3 = 0$ and $H_1: \beta_1 - \beta_2 < 0$ respectively. The $t$ staticstic is based on whether the estimatted difference $\beta_2 - \beta_3$ is sufficiently bigger then zero. That's why 
\begin{equation}\label{tstat}
    t = \frac{\hat{\beta}_2-\hat{\beta}_3}{se(\hat{\beta}_2 - \hat{\beta}_3)}
\end{equation}

In [71]:
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.155
Model:                            OLS   Adj. R-squared:                  0.152
Method:                 Least Squares   F-statistic:                     56.97
Date:                Mon, 23 Jun 2025   Prob (F-statistic):           8.12e-34
Time:                        23:08:17   Log-Likelihood:                -438.84
No. Observations:                 935   AIC:                             885.7
Df Residuals:                     931   BIC:                             905.0
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.4967      0.111     49.731      0.000       5.280       5.714
educ           0.0749      0.007     11.495      0.000       0.062       0.088
exper          0.0153      0.003      4.549      0.000       0.009       0.022
tenure         0.0134      0.003      5.170      0.000       0.008       0.018
==============================================================================
Omnibus:                       20.917   Durbin-Watson:                   1.769
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               30.558
Skew:                          -0.214   Prob(JB):                     2.31e-07
Kurtosis:                       3.775   Cond. No.                         170.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [72]:
res.summary().tables[1]

In [73]:
res.summary().tables[1].data[3][2]

'    0.003'

In [77]:
# Sample size
n = len(df)
# Critical t-statistic with 10% confidence interval
t_crit = st.t.ppf(q=0.95, df=n - 1)
#beta2
b2 = res.params[2]
#beta3
b3 = res.params[3]
# se beta2
se_b2 = float(res.summary().tables[1].data[2][2])
# se_beta3
se_b3 = float(res.summary().tables[1].data[3][2])
# t-statistic
t_static = (b2-b3)/(se_b2-se_b3)

In [78]:
if (t_static < t_crit):
    print("Reject hypothesis H1. b2 = b3")
else:
    print("Reject hypothesis H0. b2 > b3")

Reject hypothesis H1. b2 = b3

<p id="test"><b>1.B</b></p>
Test the null hypothesis in part (i) against a two-sided alternative, at the 5% significance level, by constructing a 95% confidence interval. What do you conclude?

In [81]:
# Sample size
n = len(df)
# Critical t-statistic with 5% confidence interval
t_crit = st.t.ppf(q=0.95, df=n - 1)
#beta2
b2 = res.params[2]
#beta3
b3 = res.params[3]
# se beta2
se_b2 = float(res.summary().tables[1].data[2][2])
# se_beta3
se_b3 = float(res.summary().tables[1].data[3][2])
# t-statistic
t_static = (b2-b3)/(se_b2-se_b3)

In [82]:
if (t_static < t_crit):
    print("Reject hypothesis H1. b2 = b3")
else:
    print("Reject hypothesis H0. b2 > b3")

Reject hypothesis H1. b2 = b3