# Econometrics seminar № 9

In [2]:
import numpy as np # библиотека для работы со статистическиим данными
import matplotlib.pyplot as plt # библиотека для отображения графиков


import statsmodels.formula.api as smf # для построения регрессий
import wooldridge # для работы с датасетами

from scipy import stats as st # для работы с статистическими таблицами

In [3]:
wooldridge.data()

  J.M. Wooldridge (2019) Introductory Econometrics: A Modern Approach,
  Cengage Learning, 6th edition.

  401k       401ksubs    admnrev       affairs     airfare
  alcohol    apple       approval      athlet1     athlet2
  attend     audit       barium        beauty      benefits
  beveridge  big9salary  bwght         bwght2      campus
  card       catholic    cement        census2000  ceosal1
  ceosal2    charity     consump       corn        countymurders
  cps78_85   cps91       crime1        crime2      crime3
  crime4     discrim     driving       earns       econmath
  elem94_95  engin       expendshares  ezanders    ezunem
  fair       fertil1     fertil2       fertil3     fish
  fringe     gpa1        gpa2          gpa3        happiness
  hprice1    hprice2     hprice3       hseinv      htv
  infmrt     injury      intdef        intqrt      inven
  jtrain     jtrain2     jtrain3       kielmc      lawsch85
  loanapp    lowbrth     mathpnl       meap00_01   meap01
  meap93     meapsingle  minwage       mlb1        mroz
  murder     nbasal      nyse          okun        openness
  pension    phillips    pntsprd       prison      prminwge
  rdchem     rdtelec     recid         rental      return
  saving     sleep75     slp75_81      smoke       traffic1
  traffic2   twoyear     volat         vote1       vote2
  voucher    wage1       wage2         wagepan     wageprc
  wine

# C3

Use the data from JTRAIN.RWA for this exercise.
1. Consider the simple regression model
$log(scrap) = \beta_0 + \beta_1*grant + u$,
where *scrap* is the firm scrap rate and grant is a dummy variable indicating whether a firm received a job training grant. Can you think of some reasons why the unobserved factors in *u* might be correlated with *grant*?
2. Estimate the simple regression model using the data for 1988. (You should have 54 observations.) Does receiving a job training grant significantly lower a firm’s scrap rate?
3. Now, add as an explanatory variable *log(scrap87)*. How does this change the estimated effect of grant? Interpret the coefficient on *grant*. Is it statistically significant at the $5\%$ level against the one-sided alternative H1: $b_{grant} < 0$?
4. Test the null hypothesis that the parameter on $log(scrap87)$ is one against the two-sided alternative. Report the *p-value* for the test.
5. Repeat parts (iii) and (iv), using heteroskedasticity-robust standard errors, and briefly discuss any notable differences.

In [16]:
df

,year,fcode,employ,sales,avgsal,scrap,rework,tothrs,union,grant,...,grant_1,clscrap,cgrant,clemploy,clsales,lavgsal,clavgsal,cgrant_1,chrsemp,clhrsemp
0,1987,410032.0,100.0,47000000.0,35000.0,NaN,NaN,12.0,0,0,...,0,NaN,0,NaN,NaN,10.463103,NaN,NaN,NaN,NaN
1,1988,410032.0,131.0,43000000.0,37000.0,NaN,NaN,8.0,0,0,...,0,NaN,0,0.270027,-0.088949,10.518673,0.055570,0.0,-8.946565,-1.165385
2,1989,410032.0,123.0,49000000.0,39000.0,NaN,NaN,8.0,0,0,...,0,NaN,0,-0.063013,0.130621,10.571317,0.052644,0.0,0.198597,0.047832
3,1987,410440.0,12.0,1560000.0,10500.0,NaN,NaN,12.0,0,0,...,0,NaN,0,NaN,NaN,9.259130,NaN,NaN,NaN,NaN
4,1988,410440.0,13.0,1970000.0,11000.0,NaN,NaN,12.0,0,0,...,0,NaN,0,0.080043,0.233347,9.305651,0.046520,0.0,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
466,1988,419483.0,108.0,11500000.0,14810.0,25.0,NaN,0.0,1,0,...,0,0.223144,0,-0.208218,0.044453,9.603058,0.059321,0.0,0.000000,0.000000
467,1989,419483.0,129.0,12000000.0,14227.0,30.0,NaN,20.0,1,0,...,0,0.182322,0,0.177681,0.042559,9.562897,-0.040161,0.0,3.100775,1.411176
468,1987,419486.0,80.0,7000000.0,16000.0,NaN,NaN,0.0,0,0,...,0,NaN,0,NaN,NaN,9.680344,NaN,NaN,NaN,NaN
469,1988,419486.0,90.0,8500000.0,17000.0,NaN,NaN,0.0,0,0,...,0,NaN,0,0.117783,0.194157,9.740969,0.060625,0.0,0.000000,0.000000
470,1989,419486.0,100.0,9900000.0,18000.0,NaN,NaN,40.0,0,1,...,0,NaN,1,0.105361,0.152469,9.798127,0.057158,0.0,36.000000,3.610918

In [38]:
wooldridge.data('jtrain', description=True)

name of dataset: jtrain
no of variables: 30
no of observations: 471

+----------+---------------------------------+
| variable | label                           |
+----------+---------------------------------+
| year     | 1987, 1988, or 1989             |
| fcode    | firm code number                |
| employ   | # employees at plant            |
| sales    | annual sales, $                 |
| avgsal   | average employee salary         |
| scrap    | scrap rate (per 100 items)      |
| rework   | rework rate (per 100 items)     |
| tothrs   | total hours training            |
| union    | =1 if unionized                 |
| grant    | = 1 if received grant           |
| d89      | = 1 if year = 1989              |
| d88      | = 1 if year = 1988              |
| totrain  | total employees trained         |
| hrsemp   | tothrs/totrain                  |
| lscrap   | log(scrap)                      |
| lemploy  | log(employ)                     |
| lsales   | log(sales)                      |
| lrework  | log(rework)                     |
| lhrsemp  | log(1 + hrsemp)                 |
| lscrap_1 | lagged lscrap; missing 1987     |
| grant_1  | lagged grant; assumed 0 in 1987 |
| clscrap  | lscrap - lscrap_1; year > 1987  |
| cgrant   | grant - grant_1                 |
| clemploy | lemploy - lemploy[_n-1]         |
| clsales  | lavgsal - lavgsal[_n-1]         |
| lavgsal  | log(avgsal)                     |
| clavgsal | lavgsal - lavgsal[_n-1]         |
| cgrant_1 | cgrant[_n-1]                    |
| chrsemp  | hrsemp - hrsemp[_n-1]           |
| clhrsemp | lhrsemp - lhrsemp[_n-1]         |
+----------+---------------------------------+

H. Holzer, R. Block, M. Cheatham, and J. Knott (1993), “Are Training
Subsidies Effective? The Michigan Experience,” Industrial and Labor
Relations Review 46, 625-636. The authors kindly provided the data.

In [5]:
df = wooldridge.data('jtrain')

1. Consider the simple regression model
$log(scrap) = \beta_0 + \beta_1*grant + u$, where *scrap* is the firm scrap rate and grant is a dummy variable indicating whether a firm received a job training grant. Can you think of some reasons why the unobserved factors in *u* might be correlated with *grant*?

In [6]:
model_3a = smf.ols(formula = "np.log(scrap)~grant", data= df).fit()
print(model_3a.summary2())

                 Results: Ordinary least squares
=================================================================
Model:              OLS              Adj. R-squared:     -0.006
Dependent Variable: np.log(scrap)    AIC:                591.0759
Date:               2025-08-25 18:03 BIC:                597.2511
No. Observations:   162              Log-Likelihood:     -293.54
Df Model:           1                F-statistic:        0.09116
Df Residuals:       160              Prob (F-statistic): 0.763
R-squared:          0.001            Scale:              2.2221
-------------------------------------------------------------------
             Coef.    Std.Err.     t      P>|t|     [0.025   0.975]
-------------------------------------------------------------------
Intercept    0.3772     0.1293   2.9179   0.0040    0.1219   0.6324
grant        0.0922     0.3055   0.3019   0.7631   -0.5111   0.6956
-----------------------------------------------------------------
Omnibus:               3.413        Durbin-Watson:          0.854
Prob(Omnibus):         0.182        Jarque-Bera (JB):       2.928
Skew:                  -0.289       Prob(JB):               0.231
Kurtosis:              3.316        Condition No.:          3
=================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the
errors is correctly specified.

If the grants were awarded to firms based on firm or worker characteristics, grant could easily be correlated with such factors that affect productivity. In the simple regression model, these are contained in u.

2. Estimate the simple regression model using the data for 1988. (You should have 54 observations.) Does receiving a job training grant significantly lower a firm’s scrap rate?

In [13]:
model_3b = smf.ols(formula = "np.log(scrap)~grant", data= df.loc[df['year']==1988] ).fit()
print(model_3b.summary2())

                 Results: Ordinary least squares
=================================================================
Model:              OLS              Adj. R-squared:     -0.019
Dependent Variable: np.log(scrap)    AIC:                193.3200
Date:               2025-08-25 18:05 BIC:                197.2980
No. Observations:   54               Log-Likelihood:     -94.660
Df Model:           1                F-statistic:        0.01948
Df Residuals:       52               Prob (F-statistic): 0.890
R-squared:          0.000            Scale:              2.0254
-------------------------------------------------------------------
             Coef.    Std.Err.     t      P>|t|     [0.025   0.975]
-------------------------------------------------------------------
Intercept    0.4085     0.2406   1.6982   0.0954   -0.0742   0.8912
grant        0.0566     0.4056   0.1396   0.8895   -0.7572   0.8704
-----------------------------------------------------------------
Omnibus:               0.074        Durbin-Watson:          1.931
Prob(Omnibus):         0.963        Jarque-Bera (JB):       0.086
Skew:                  -0.067       Prob(JB):               0.958
Kurtosis:              2.859        Condition No.:          2
=================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the
errors is correctly specified.

In [14]:
# Sample sizea
n = 54
# Critical t-statistic with 10% confidence interval
t_crit = st.t.ppf(q=0.95, df=n - 1)
#t_statistic for grant
t_statis = model_3b.summary2().tables[1]['t']['grant']
t_statis

0.1395638257791363

In [15]:
if (abs(t_statis) < t_crit):
    print("Reject hypothesis H1. 'grant' is unsignification ")
else:
    print("Reject hypothesis H0. 'grant' is signification ")

Reject hypothesis H1. 'grant' is unsignification