# Econometrics seminar

### Wooldridge
We are gonno need Data sets from wooldridge. [Click here](https://pypi.org/project/wooldridge/) to get manual to install

In [10]:
import numpy as np
import matplotlib.pyplot as plt

In [13]:
wooldridge.data()

  J.M. Wooldridge (2019) Introductory Econometrics: A Modern Approach,
  Cengage Learning, 6th edition.

  401k       401ksubs    admnrev       affairs     airfare
  alcohol    apple       approval      athlet1     athlet2
  attend     audit       barium        beauty      benefits
  beveridge  big9salary  bwght         bwght2      campus
  card       catholic    cement        census2000  ceosal1
  ceosal2    charity     consump       corn        countymurders
  cps78_85   cps91       crime1        crime2      crime3
  crime4     discrim     driving       earns       econmath
  elem94_95  engin       expendshares  ezanders    ezunem
  fair       fertil1     fertil2       fertil3     fish
  fringe     gpa1        gpa2          gpa3        happiness
  hprice1    hprice2     hprice3       hseinv      htv
  infmrt     injury      intdef        intqrt      inven
  jtrain     jtrain2     jtrain3       kielmc      lawsch85
  loanapp    lowbrth     mathpnl       meap00_01   meap01
  meap93     meapsingle  minwage       mlb1        mroz
  murder     nbasal      nyse          okun        openness
  pension    phillips    pntsprd       prison      prminwge
  rdchem     rdtelec     recid         rental      return
  saving     sleep75     slp75_81      smoke       traffic1
  traffic2   twoyear     volat         vote1       vote2
  voucher    wage1       wage2         wagepan     wageprc
  wine

In [11]:
import wooldridge

1. Use the data in [WAGE1.RAW](#get_wage1) for this exercise.

    1. Find the [average education](#average) level in the sample. [What are the lowest and highest years of education?](#max_min)
    2. [Find the average hourly wage in the sample](#av_hour_wage). Does it seem high or low?
    3. The wage data are reported in 1976 dollars. Using the Economic Report of the President (2011 or later), obtain and report the Consumer Price Index (CPI) for the years 1976 and 2010.
    4. Use the CPI values from part (iii) to find the average hourly wage in 2010 dollars. Now does the average hourly wage seem reasonable? How many women are in the sample? How many men?

<p id="get_wage1">Downloadin WAGE1 data.</p>

In [41]:
df = wooldridge.data('mroz')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 753 entries, 0 to 752
Data columns (total 22 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   inlf      753 non-null    int64
 1   hours     753 non-null    int64
 2   kidslt6   753 non-null    int64
 3   kidsge6   753 non-null    int64
 4   age       753 non-null    int64
 5   educ      753 non-null    int64
 6   wage      428 non-null    float64
 7   repwage   753 non-null    float64
 8   hushrs    753 non-null    int64
 9   husage    753 non-null    int64
 10  huseduc   753 non-null    int64
 11  huswage   753 non-null    float64
 12  faminc    753 non-null    float64
 13  mtr       753 non-null    float64
 14  motheduc  753 non-null    int64
 15  fatheduc  753 non-null    int64
 16  unem      753 non-null    float64
 17  city      753 non-null    int64
 18  exper     753 non-null    int64
 19  nwifeinc  753 non-null    float64
 20  lwage     428 non-null    float64
 21  expersq   753 non-null    int64
dtypes: float64(8), int64(14)
memory usage: 129.5 KB

In [59]:
df

,inlf,hours,kidslt6,kidsge6,age,educ,wage,repwage,hushrs,husage,...,faminc,mtr,motheduc,fatheduc,unem,city,exper,nwifeinc,lwage,expersq
0,1,1610,1,0,32,12,3.3540,2.65,2708,34,...,16310.0,0.7215,12,7,5.0,0,14,10.910060,1.210154,196
1,1,1656,0,2,30,12,1.3889,2.65,2310,30,...,21800.0,0.6615,7,7,11.0,1,5,19.499981,0.328512,25
2,1,1980,1,3,35,12,4.5455,4.04,3072,40,...,21040.0,0.6915,12,7,5.0,0,15,12.039910,1.514138,225
3,1,456,0,3,34,12,1.0965,3.25,1920,53,...,7300.0,0.7815,7,7,5.0,0,6,6.799996,0.092123,36
4,1,1568,1,2,31,14,4.5918,3.60,2000,32,...,27300.0,0.6215,12,14,9.5,1,7,20.100058,1.524272,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
748,0,0,0,2,40,13,NaN,0.00,3020,43,...,28200.0,0.6215,10,10,9.5,1,5,28.200001,NaN,25
749,0,0,2,3,31,12,NaN,0.00,2056,33,...,10000.0,0.7715,12,12,7.5,0,14,10.000000,NaN,196
750,0,0,0,0,43,12,NaN,0.00,2383,43,...,9952.0,0.7515,10,3,7.5,0,4,9.952000,NaN,16
751,0,0,0,0,60,12,NaN,0.00,1705,55,...,24984.0,0.6215,12,12,14.0,1,15,24.983999,NaN,225
752,0,0,0,3,39,9,NaN,0.00,3120,48,...,28363.0,0.6915,7,7,11.0,1,12,28.363001,NaN,144

<p id="average"><b>1.A</b></p>

In [40]:
df.educ.describe()

count    753.000000
mean      12.286853
std        2.280246
min        5.000000
25%       12.000000
50%       12.000000
75%       13.000000
max       17.000000
Name: educ, dtype: float64

In [60]:
print(f"Lowest year of education:{df.educ.min()}")

Lowest year of education:5

In [61]:
print(f"Highest year of education:{df.educ.max()}")

Highest year of education:17

<p id=""av_hour_wage""><b>1.B</b></p>

In [62]:
print(f"The average hourly wage in the sample.: {df.wage.mean().round(2)}")

The average hourly wage in the sample.: 4.18

2. Use the data in BWGHT.RAW to answer this question
    1. How many women are in the sample, and how many report smoking during pregnancy?
    2. What is the average number of cigarettes smoked per day? Is the average a good measure of the “typical” woman in this case? Explain.
    3. Among women who smoked during pregnancy, what is the average numberof cigarettes smoked per day? How does this compare with your answer frompart (ii), and why?
    4. Find the average of fatheduc in the sample. Why are only 1,192 observations used to compute this average?
    5. Report the average family income and its standard deviation in dollars.

3. The data in MEAP01.RAW are for the state of Michigan in the year 2001. Use these data data to answer the following questions.
    1. Find the largest and smallest values of math4. Does the range make sense? Explain.
    2. How many schools have a perfect pass rate on the math test? What percentage is this of the total sample?
    3. How many schools have math pass rates of exactly 50%?
    4. Compare the average pass rates for the math and reading scores. Which test is harder to pass?
    5. Find the correlation between math4 and read4. What do you conclude?
    6. The variable exppp is expenditure per pupil. Find the average of exppp alongwith its standard deviation. Would you say there is wide variation in per pupil spending?
    7. Suppose School A spends $\$6,000$ per student and School B spends $\$5,500$ per student. By what percentage does School A’s spending exceed School B’s? Com- pare this to $100\cdot [\log(6,000) – \log(5,500)]$, which is the approximation percent- age difference based on the difference in the natural logs. (See Section A.4 in Appendix A.)

4. The data in JTRAIN2.RAW come from a job training experiment conducted for low- income men during $1976–1977$; see Lalonde $(1986)$.
    1. Use the indicator variable train to determine the fraction of men receiving job training.
    2. The variable re78 is earnings from $1978$, measured in thousands of $1982$ dollars. Find the averages of re78 for the sample of men receiving job training and the sample not receiving job training. Is the difference economically large?
    3. The variable unem78 is an indicator of whether a man is unemployed or not in $1978$. What fraction of the men who received job training are unemployed? What about for men who did not receive job training? Comment on the difference.
    4. From parts (ii) and (iii), does it appear that the job training program was effective? What would make our conclusions more convincing?

5. The data in FERTIL2.DTA were collected on women living in the Republic of Botswana in $1988$. The variable children refers to the number of living children. The variable electric is a binary indicator equal to one if the woman’s home has electricity, and zero if not.
    1. Find the smallest and largest values of children in the sample. What is the average of children?
    2. What percentage of women have electricity in the home?
    3. Compute the average of children for those without electricity and do the same for those with electricity. Comment on what you find.
    4. From part (iii), can you infer that having electricity “causes” women to have fewer children? Explain.

<p id="detailed-explanation">Обратите внимание, это важно.</p>