# Econometrics seminar № 7

In [91]:
import numpy as np # библиотека для работы со статистическиим данными
import matplotlib.pyplot as plt # библиотека для отображения графиков


import statsmodels.formula.api as smf # для построения регрессий
import wooldridge # для работы с датасетами

from scipy import stats as st # для работы с статистическими таблицами

In [92]:
wooldridge.data()

  J.M. Wooldridge (2019) Introductory Econometrics: A Modern Approach,
  Cengage Learning, 6th edition.

  401k       401ksubs    admnrev       affairs     airfare
  alcohol    apple       approval      athlet1     athlet2
  attend     audit       barium        beauty      benefits
  beveridge  big9salary  bwght         bwght2      campus
  card       catholic    cement        census2000  ceosal1
  ceosal2    charity     consump       corn        countymurders
  cps78_85   cps91       crime1        crime2      crime3
  crime4     discrim     driving       earns       econmath
  elem94_95  engin       expendshares  ezanders    ezunem
  fair       fertil1     fertil2       fertil3     fish
  fringe     gpa1        gpa2          gpa3        happiness
  hprice1    hprice2     hprice3       hseinv      htv
  infmrt     injury      intdef        intqrt      inven
  jtrain     jtrain2     jtrain3       kielmc      lawsch85
  loanapp    lowbrth     mathpnl       meap00_01   meap01
  meap93     meapsingle  minwage       mlb1        mroz
  murder     nbasal      nyse          okun        openness
  pension    phillips    pntsprd       prison      prminwge
  rdchem     rdtelec     recid         rental      return
  saving     sleep75     slp75_81      smoke       traffic1
  traffic2   twoyear     volat         vote1       vote2
  voucher    wage1       wage2         wagepan     wageprc
  wine

# C2

Use the data in WAGE2.RAW for this exercise.
1. Estimate the model $log(wage) = \beta_0 + \beta_2*educ + \beta_2*exper + \beta_3*tenure + \beta_4*married + \beta_5*black + \beta_6*south + \beta_7*urban + u$ and report the results in the usual form. Holding other factors fixed, what is the approximate difference in monthly salary between blacks and nonblacks? Is this difference statistically significant?
2. Add the variables $exper^2$ and $tenure^2$ to the equation and show that they are jointly insignificant at even the $20\%$ level.
3. Extend the original model to allow the return to education to depend on race and test whether the return to education does depend on race.
4. Again, start with the original model, but now allow wages to differ across four groups of people: married and black, married and nonblack, single and black, and single and nonblack. What is the estimated wage differential between married blacks and married nonblacks?

In [93]:
 wooldridge.data('wage2', description=True)

name of dataset: wage2
no of variables: 17
no of observations: 935

+----------+-------------------------------+
| variable | label                         |
+----------+-------------------------------+
| wage     | monthly earnings              |
| hours    | average weekly hours          |
| IQ       | IQ score                      |
| KWW      | knowledge of world work score |
| educ     | years of education            |
| exper    | years of work experience      |
| tenure   | years with current employer   |
| age      | age in years                  |
| married  | =1 if married                 |
| black    | =1 if black                   |
| south    | =1 if live in south           |
| urban    | =1 if live in SMSA            |
| sibs     | number of siblings            |
| brthord  | birth order                   |
| meduc    | mother's education            |
| feduc    | father's education            |
| lwage    | natural log of wage           |
+----------+-------------------------------+

M. Blackburn and D. Neumark (1992), “Unobserved Ability, Efficiency
Wages, and Interindustry Wage Differentials,” Quarterly Journal of
Economics 107, 1421-1436. Professor Neumark kindly provided the data,
of which I used just the data for 1980.

In [94]:
df = wooldridge.data('wage2')
df

,wage,hours,IQ,KWW,educ,exper,tenure,age,married,black,south,urban,sibs,brthord,meduc,feduc,lwage
0,769,40,93,35,12,11,2,31,1,0,0,1,1,2.0,8.0,8.0,6.645091
1,808,50,119,41,18,11,16,37,1,0,0,1,1,NaN,14.0,14.0,6.694562
2,825,40,108,46,14,11,9,33,1,0,0,1,1,2.0,14.0,14.0,6.715384
3,650,40,96,32,12,13,7,32,1,0,0,1,4,3.0,12.0,12.0,6.476973
4,562,40,74,27,11,14,5,34,1,0,0,1,10,6.0,6.0,11.0,6.331502
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
930,520,40,79,28,16,6,1,30,1,1,1,0,0,1.0,11.0,NaN,6.253829
931,1202,40,102,32,13,10,3,31,1,0,1,1,7,7.0,8.0,6.0,7.091742
932,538,45,77,22,12,12,10,28,1,1,1,0,9,NaN,7.0,NaN,6.287858
933,873,44,109,25,12,12,12,28,1,0,1,0,1,1.0,NaN,11.0,6.771935
934,1000,40,107,32,12,17,18,35,1,0,1,0,5,1.0,NaN,NaN,6.907755

## <p id="#regression"><b>2.A</b></p>

### 1. Estimate the model $log(wage) = \beta_0 + \beta_1*educ + \beta_2*exper + \beta_3*tenure + \beta_4*married + \beta_5*black + \beta_6*south + \beta_7*urban + u$ and report the results in the usual form. Holding other factors fixed, what is the approximate difference in monthly salary between blacks and nonblacks? Is this difference statistically significant?

In [95]:
model_a = smf.ols(formula="np.log(wage)~educ+exper+tenure+married+black+south+urban", data = df)
res_a = model_a.fit()
print(res_a.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.253
Model:                            OLS   Adj. R-squared:                  0.247
Method:                 Least Squares   F-statistic:                     44.75
Date:                Sat, 23 Aug 2025   Prob (F-statistic):           1.16e-54
Time:                        05:49:38   Log-Likelihood:                -381.55
No. Observations:                 935   AIC:                             779.1
Df Residuals:                     927   BIC:                             817.8
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.3955      0.113     47.653      0.000       5.173       5.618
educ           0.0654      0.006     10.468      0.000       0.053       0.078
exper          0.0140      0.003      4.409      0.000       0.008       0.020
tenure         0.0117      0.002      4.789      0.000       0.007       0.017
married        0.1994      0.039      5.107      0.000       0.123       0.276
black         -0.1883      0.038     -5.000      0.000      -0.262      -0.114
south         -0.0909      0.026     -3.463      0.001      -0.142      -0.039
urban          0.1839      0.027      6.822      0.000       0.131       0.237
==============================================================================
Omnibus:                       38.227   Durbin-Watson:                   1.823
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               83.390
Skew:                          -0.224   Prob(JB):                     7.80e-19
Kurtosis:                       4.393   Cond. No.                         187.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [96]:
res.summary2().tables[1]

              Coef.  Std.Err.          t          P>|t|    [0.025    0.975]
Intercept  5.395497  0.113225  47.652858  1.720397e-251  5.173290  5.617704
educ       0.065431  0.006250  10.468255   2.576571e-24  0.053164  0.077697
exper      0.014043  0.003185   4.408852   1.160827e-05  0.007792  0.020294
tenure     0.011747  0.002453   4.788998   1.950498e-06  0.006933  0.016561
married    0.199417  0.039050   5.106691   3.979235e-07  0.122780  0.276054
black     -0.188350  0.037667  -5.000444   6.839315e-07 -0.262272 -0.114428
south     -0.090904  0.026249  -3.463193   5.582251e-04 -0.142417 -0.039390
urban      0.183912  0.026958   6.822087   1.617983e-11  0.131006  0.236818

In [97]:
beta5 = res.summary2().tables[1]['Coef.'][5]
se_beta5 = res.summary2().tables[1]['Std.Err.'][5]

In [98]:
# Sample sizea
n = len(df)
# Critical t-statistic with 20% confidence interval
t_crit = st.t.ppf(q=0.8, df=n - 8)
#tbeta5
beta5 = res.summary2().tables[1]['Coef.'][5]
# se_beta5
se_beta5 = res.summary2().tables[1]['Std.Err.'][5]
# t-statistic
t_static = (beta5)/(se_beta5)

In [99]:
if (t_static < t_crit):
    print("Reject hypothesis H1. beta5 = 0")
else:
    print("Reject hypothesis H0. beta5 < 0")

Reject hypothesis H1. beta5 = 0

$df$ -- the degrees of freedom in the unrestricted model .
$ q$ -- how many variables are excluded in the restricted model;
$$q = numerator \quad degrees \quad of  \quad freedom = df_r - df_{ur} $$
$$n - k - 1 = denominator \quad degrees \quad of \quad freedom = dfur .$$

## The R-Squared form of the F Statistic
For testing exclusion restrictions, it is often more convenient to have a form of the $F$ statistic that can be computed using the R-squareds from the restricted and unrestricted models. One reason for this is that the R-squared is always between zero and one, whereas the SSRs can be very large depending on the unit of measurement of $y$, making the calculation based on the $SSR$s tedious. Using the fact that $SSR_r = SST(1 - R^2 )$and SSRur 5 SST(1 2 R2ur), we can substitute into (4.37) to obtain
$$
F = \frac{(R^2_{ur}- R^2_r)/q}{(1-R^2_{ur})/(n-k-1)} =  \frac{(R^2_{ur}- R^2_r)/q}{(1-R^2_{ur})/(df_{ur})}
$$
(note that the $SST$ terms cancel everywhere). This is called the **$R-$squared form of the $F$ statistic**. [At this point, you should be cautioned that although equation (4.41) is very convenient for testing exclusion restrictions, it cannot be applied for testing all linear restrictions. As we will see when we discuss testing general linear restrictions, the sum of squared residuals form of the F statistic is sometimes needed.]

## <p id="#regression"><b>2.B</b></p>

### 2. Add the variables $exper^2$ and $tenure^2$ to the equation and show that they are jointly insignificant at even the $20\%$ level.

### $$H_0: \beta_8 = \beta_9 = 0 $$ $$ H_1: \beta_8^2 + \beta_9^2 > 0 $$

In [100]:
model_b = smf.ols(formula="np.log(wage)~educ+exper+tenure+married+black+south+urban + I(exper**2)+I(tenure**2)", data = df)
res_b = model_b.fit()
print(res_b.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.255
Model:                            OLS   Adj. R-squared:                  0.248
Method:                 Least Squares   F-statistic:                     35.17
Date:                Sat, 23 Aug 2025   Prob (F-statistic):           1.22e-53
Time:                        05:49:38   Log-Likelihood:                -380.05
No. Observations:                 935   AIC:                             780.1
Df Residuals:                     925   BIC:                             828.5
Df Model:                           9
Covariance Type:            nonrobust
==================================================================================
                     coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------
Intercept          5.3587      0.126     42.558      0.000       5.112       5.606
educ               0.0643      0.006     10.184      0.000       0.052       0.077
exper              0.0172      0.013      1.365      0.173      -0.008       0.042
tenure             0.0249      0.008      3.066      0.002       0.009       0.041
married            0.1985      0.039      5.077      0.000       0.122       0.275
black             -0.1907      0.038     -5.057      0.000      -0.265      -0.117
south             -0.0912      0.026     -3.477      0.001      -0.143      -0.040
urban              0.1854      0.027      6.878      0.000       0.133       0.238
I(exper ** 2)     -0.0001      0.001     -0.214      0.831      -0.001       0.001
I(tenure ** 2)    -0.0008      0.000     -1.691      0.091      -0.002       0.000
==============================================================================
Omnibus:                       37.281   Durbin-Watson:                   1.819
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               84.322
Skew:                          -0.199   Prob(JB):                     4.90e-19
Kurtosis:                       4.416   Cond. No.                     2.19e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.19e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [101]:
R2_r = res.rsquared # det coefficietn for restricted regression
R2_ur = res_2.rsquared # det coefficietn for unrestricted regression
q = 2
alpha = 0.2 # level of significant. 0.2 becaus asked in test 20%
df_ur = len(df)- 7 - 1

In [102]:
F_static = ((R2_ur - R2_r)/q) / ((1 - R2_ur)/df_ur)
F_static

1.4930271776373594

In [103]:
F_critic = st.f.ppf(q=1-alpha, dfn=q, dfd=df_ur)

In [104]:
if (F_static < F_critic):
    print("There are no resson for reject hypothesis H0, 'beta_8' and 'beta_9'are joinly insignificant at the 20% level.")
else:
    print("Reject hypothesis H1. 'beta_8' and 'beta_9'are joinly significant at the 20% level.")

There are no resson for reject hypothesis H0, 'beta_8' and 'beta_9'are joinly insignificant at the 20% level.

## <p id="#regression"><b>2.C</b></p>


### 3. Extend the original model to allow the return to education to depend on race and test whether the return to education does depend on race. $log(wage) = \beta_0 + \beta_2*educ + \beta_2*exper + \beta_3*tenure + \beta_4*married + \beta_5*black + \beta_6*south + \beta_7*urban + u$

In [105]:
model_c = smf.ols(formula="np.log(wage)~educ+exper+tenure+married+black+south+urban + black", data = df)
res_c = model_c.fit()
print(res_c.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:           np.log(wage)   R-squared:                       0.253
Model:                            OLS   Adj. R-squared:                  0.247
Method:                 Least Squares   F-statistic:                     44.75
Date:                Sat, 23 Aug 2025   Prob (F-statistic):           1.16e-54
Time:                        05:49:39   Log-Likelihood:                -381.55
No. Observations:                 935   AIC:                             779.1
Df Residuals:                     927   BIC:                             817.8
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.3955      0.113     47.653      0.000       5.173       5.618
educ           0.0654      0.006     10.468      0.000       0.053       0.078
exper          0.0140      0.003      4.409      0.000       0.008       0.020
tenure         0.0117      0.002      4.789      0.000       0.007       0.017
married        0.1994      0.039      5.107      0.000       0.123       0.276
black         -0.1883      0.038     -5.000      0.000      -0.262      -0.114
south         -0.0909      0.026     -3.463      0.001      -0.142      -0.039
urban          0.1839      0.027      6.822      0.000       0.131       0.237
==============================================================================
Omnibus:                       38.227   Durbin-Watson:                   1.823
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               83.390
Skew:                          -0.224   Prob(JB):                     7.80e-19
Kurtosis:                       4.393   Cond. No.                         187.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [106]:
res.summary2().tables[1]

              Coef.  Std.Err.          t          P>|t|    [0.025    0.975]
Intercept  5.395497  0.113225  47.652858  1.720397e-251  5.173290  5.617704
educ       0.065431  0.006250  10.468255   2.576571e-24  0.053164  0.077697
exper      0.014043  0.003185   4.408852   1.160827e-05  0.007792  0.020294
tenure     0.011747  0.002453   4.788998   1.950498e-06  0.006933  0.016561
married    0.199417  0.039050   5.106691   3.979235e-07  0.122780  0.276054
black     -0.188350  0.037667  -5.000444   6.839315e-07 -0.262272 -0.114428
south     -0.090904  0.026249  -3.463193   5.582251e-04 -0.142417 -0.039390
urban      0.183912  0.026958   6.822087   1.617983e-11  0.131006  0.236818

In [107]:
beta_educ = res.summary2().tables[1]['Coef.']['educ']
beta_race = res.summary2().tables[1]['Coef.']['black']

se_beta_educ = res.summary2().tables[1]['Std.Err.']['educ']
se_beta_race = res.summary2().tables[1]['Std.Err.']['black']

In [108]:
# Sample sizea
n = len(df)
# alpha -- confidence interval
alpha = 0.05
# Critical t-statistic with alpha% confidence interval
t_crit = st.t.ppf(q=1 - alpha, df=n - 8)
#coeff. for education
beta_educ = res.summary2().tables[1]['Coef.']['educ']
#coeff. for race
beta_race = res.summary2().tables[1]['Coef.']['black']
# standart error for coeff. of education
se_beta_educ = res.summary2().tables[1]['Std.Err.']['educ']
# standart error for coeff. of race
se_beta_educ = res.summary2().tables[1]['Std.Err.']['educ']
# t-statistic for education
t_educ_static = (beta_educ)/(se_beta_educ)
# t_statistic for race
t_race_static = (beta_race)/(se_beta_race)

In [109]:
if (t_educ_static < t_crit):
    print("Reject hypothesis H1, beta_educ is unsignificant")
else:
    print("Reject hypothesis H0, beta_educ is significant")

Reject hypothesis H0, beta_educ is significant

In [110]:
if (t_race_static < t_crit):
    print("Reject hypothesis H1, beta_race is unsignificant")
else:
    print("Reject hypothesis H0, beta_race is significant")

Reject hypothesis H1, beta_race is unsignificant

## <p id="#regression"><b>2.D</b></p>

### 4. Again, start with the original model, but now allow wages to differ across four groups of people: married and black, married and nonblack, single and black, and single and nonblack. What is the estimated wage differential between married blacks and married nonblacks?

In [143]:
model_d = smf.ols(formula="np.log(wage)~ educ+exper+tenure+south+urban + C(married):C(black)", data = df)
res_d = model_d.fit()
res_d.summary2()

<class 'statsmodels.iolib.summary2.Summary'>
"""
                      Results: Ordinary least squares
===========================================================================
Model:                  OLS                 Adj. R-squared:        0.246
Dependent Variable:     np.log(wage)        AIC:                   780.7416
Date:                   2025-08-23 13:29    BIC:                   824.3066
No. Observations:       935                 Log-Likelihood:        -381.37
Df Model:               8                   F-statistic:           39.17
Df Residuals:           926                 Prob (F-statistic):    6.78e-54
R-squared:              0.253               Scale:                 0.13366
---------------------------------------------------------------------------
                             Coef.  Std.Err.    t    P>|t|   [0.025  0.975]
---------------------------------------------------------------------------
Intercept                    5.4038   0.1141 47.3509 0.0000  5.1798  5.6278
C(black)[T.1]               -0.2408   0.0960 -2.5079 0.0123 -0.4293 -0.0524
C(married)[T.1]:C(black)[0]  0.1889   0.0429  4.4059 0.0000  0.1048  0.2731
C(married)[T.1]:C(black)[1]  0.2503   0.0941  2.6599 0.0080  0.0656  0.4349
educ                         0.0655   0.0063 10.4710 0.0000  0.0532  0.0777
exper                        0.0141   0.0032  4.4331 0.0000  0.0079  0.0204
tenure                       0.0117   0.0025  4.7449 0.0000  0.0068  0.0165
south                       -0.0920   0.0263 -3.4949 0.0005 -0.1436 -0.0403
urban                        0.1844   0.0270  6.8334 0.0000  0.1314  0.2373
---------------------------------------------------------------------------
Omnibus:                  38.572          Durbin-Watson:             1.824
Prob(Omnibus):            0.000           Jarque-Bera (JB):          84.151
Skew:                     -0.227          Prob(JB):                  0.000
Kurtosis:                 4.398           Condition No.:             214
===========================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the errors is
correctly specified.
"""

In [155]:
# estimated wage for married blacks 
married_black = res_d.summary2().tables[1]['Coef.']['C(married)[T.1]:C(black)[1]']
# estimated wage for married nonblacks 
married_nonblack = res_d.summary2().tables[1]['Coef.']['C(married)[T.1]:C(black)[0]']

estimated wage differential between married blacks and married nonblacks

In [158]:
print(f"estimated wage differential between married blacks {married_black.round(3)} and married nonblacks {married_nonblack.round(3)} is {(married_black - married_nonblack).round(3)}")

estimated wage differential between married blacks 0.25 and married nonblacks 0.189 is 0.061

# C6

Use the data in SLEEP75.RAW for this exercise. The [equation](#equation) of interest is 

$$sleep = \beta_0 + \beta_1*totwrk + \beta_2*educ + \beta_3*age + \beta_4*age^2 + \beta_5*yngkid + u.$$

1. Estimate this equation separately for men and women and report the results in the usual form. Are there notable differences in the two estimated equations?
2. Compute the Chow test for equality of the parameters in the sleep equation for men and women. Use the form of the test that adds male and the interaction terms $male \cdot totwrk, ..., male \cdot yngkid$ and uses the full set of observations. What are the relevant $df$ for the test? Should you reject the null at the $5\%$ level?
3. Now, allow for a different intercept for males and females and determine whether the interaction terms involving male are jointly significant.
4. Given the results from parts (ii) and (iii), what would be your final model?

In [161]:
wooldridge.data('sleep75', description=True)

name of dataset: sleep75
no of variables: 34
no of observations: 706

+----------+--------------------------------+
| variable | label                          |
+----------+--------------------------------+
| age      | in years                       |
| black    | =1 if black                    |
| case     | identifier                     |
| clerical | =1 if clerical worker          |
| construc | =1 if construction worker      |
| educ     | years of schooling             |
| earns74  | total earnings, 1974           |
| gdhlth   | =1 if in good or excel. health |
| inlf     | =1 if in labor force           |
| leis1    | sleep - totwrk                 |
| leis2    | slpnaps - totwrk               |
| leis3    | rlxall - totwrk                |
| smsa     | =1 if live in smsa             |
| lhrwage  | log hourly wage                |
| lothinc  | log othinc, unless othinc < 0  |
| male     | =1 if male                     |
| marr     | =1 if married                  |
| prot     | =1 if Protestant               |
| rlxall   | slpnaps + personal activs      |
| selfe    | =1 if self employed            |
| sleep    | mins sleep at night, per wk    |
| slpnaps  | minutes sleep, inc. naps       |
| south    | =1 if live in south            |
| spsepay  | spousal wage income            |
| spwrk75  | =1 if spouse works             |
| totwrk   | mins worked per week           |
| union    | =1 if belong to union          |
| worknrm  | mins work main job             |
| workscnd | mins work second job           |
| exper    | age - educ - 6                 |
| yngkid   | =1 if children < 3 present     |
| yrsmarr  | years married                  |
| hrwage   | hourly wage                    |
| agesq    | age^2                          |
+----------+--------------------------------+

J.E. Biddle and D.S. Hamermesh (1990), “Sleep and the Allocation of
Time,” Journal of Political Economy 98, 922-943. Professor Biddle
kindly provided the data.

In [160]:
df = wooldridge.data('sleep75')
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0.0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500.0,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500.0,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500.0,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500.0,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500.0,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500.0,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500.0,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500.0,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750.0,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [196]:
model = smf.ols(formula="sleep~totwrk+educ+age+I(age**2)+yngkid", data=df )
res = model.fit()
print(res.summary2())

                  Results: Ordinary least squares
===================================================================
Model:              OLS              Adj. R-squared:     0.108
Dependent Variable: sleep            AIC:                10537.1389
Date:               2025-08-23 15:57 BIC:                10564.4966
No. Observations:   706              Log-Likelihood:     -5262.6
Df Model:           5                F-statistic:        18.14
Df Residuals:       700              Prob (F-statistic): 6.00e-17
R-squared:          0.115            Scale:              1.7610e+05
-------------------------------------------------------------------
                Coef.   Std.Err.    t    P>|t|    [0.025    0.975]
-------------------------------------------------------------------
Intercept     3825.3749 240.2585 15.9219 0.0000 3353.6613 4297.0885
totwrk          -0.1460   0.0169 -8.6516 0.0000   -0.1792   -0.1129
educ           -11.1377   5.8902 -1.8909 0.0591  -22.7022    0.4268
age             -8.1239  11.3705 -0.7145 0.4752  -30.4483   14.2004
I(age ** 2)      0.1263   0.1352  0.9342 0.3505   -0.1391    0.3917
yngkid          17.1544  50.0084  0.3430 0.7317  -81.0300  115.3388
-------------------------------------------------------------------
Omnibus:               70.275       Durbin-Watson:          1.939
Prob(Omnibus):         0.000        Jarque-Bera (JB):       193.427
Skew:                  -0.501       Prob(JB):               0.000
Kurtosis:              5.360        Condition No.:          43162
===================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the errors
is correctly specified.
[2] The condition number is large, 4.32e+04. This might indicate
that there are strong multicollinearity or other numerical
problems.

## <p id="#regression"><b>6.A</b></p>

1. Estimate this equation separately for men and women and report the results in the usual form. Are there notable differences in the two estimated equations?

In [177]:
model_a_men = smf.ols(formula="sleep~totwrk+educ+age+I(age**2)+yngkid", data=df.loc[df['male']==1] )
res_a_men = model_a_men.fit()
print(res_a_men.summary2())

                  Results: Ordinary least squares
===================================================================
Model:              OLS              Adj. R-squared:     0.146
Dependent Variable: sleep            AIC:                5938.8446
Date:               2025-08-23 15:33 BIC:                5962.7934
No. Observations:   400              Log-Likelihood:     -2963.4
Df Model:           5                F-statistic:        14.59
Df Residuals:       394              Prob (F-statistic): 3.95e-13
R-squared:          0.156            Scale:              1.6184e+05
-------------------------------------------------------------------
                Coef.   Std.Err.    t    P>|t|    [0.025    0.975]
-------------------------------------------------------------------
Intercept     3648.2083 310.0393 11.7669 0.0000 3038.6699 4257.7466
totwrk          -0.1821   0.0245 -7.4380 0.0000   -0.2303   -0.1340
educ           -13.0524   7.4142 -1.7605 0.0791  -27.6288    1.5240
age              7.1566  14.3204  0.4997 0.6175  -20.9973   35.3105
I(age ** 2)     -0.0448   0.1684 -0.2658 0.7905   -0.3759    0.2863
yngkid          60.3802  59.0228  1.0230 0.3069  -55.6588  176.4192
-------------------------------------------------------------------
Omnibus:              21.716        Durbin-Watson:           2.061
Prob(Omnibus):        0.000         Jarque-Bera (JB):        42.802
Skew:                 -0.305        Prob(JB):                0.000
Kurtosis:             4.482         Condition No.:           47056
===================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the errors
is correctly specified.
[2] The condition number is large, 4.71e+04. This might indicate
that there are strong multicollinearity or other numerical
problems.

In [178]:
model_a_women = smf.ols(formula="sleep~totwrk+educ+age+I(age**2)+yngkid", data=df.loc[df['male']==0] )
res_a_women = model_a_women.fit()
print(res_a_women.summary2())

                  Results: Ordinary least squares
===================================================================
Model:              OLS              Adj. R-squared:     0.083
Dependent Variable: sleep            AIC:                4595.2385
Date:               2025-08-23 15:33 BIC:                4617.5801
No. Observations:   306              Log-Likelihood:     -2291.6
Df Model:           5                F-statistic:        6.495
Df Residuals:       300              Prob (F-statistic): 9.42e-06
R-squared:          0.098            Scale:              1.9096e+05
-------------------------------------------------------------------
                Coef.   Std.Err.    t    P>|t|    [0.025    0.975]
-------------------------------------------------------------------
Intercept     4238.7293 384.8923 11.0128 0.0000 3481.2987 4996.1600
totwrk          -0.1399   0.0277 -5.0597 0.0000   -0.1944   -0.0855
educ           -10.2051   9.5888 -1.0643 0.2881  -29.0751    8.6648
age            -30.3566  18.5309 -1.6382 0.1024  -66.8236    6.1105
I(age ** 2)      0.3679   0.2233  1.6474 0.1005   -0.0716    0.8075
yngkid        -118.2826  93.1876 -1.2693 0.2053 -301.6667   65.1015
-------------------------------------------------------------------
Omnibus:               54.909       Durbin-Watson:          1.931
Prob(Omnibus):         0.000        Jarque-Bera (JB):       192.655
Skew:                  -0.730       Prob(JB):               0.000
Kurtosis:              6.602        Condition No.:          39250
===================================================================
Notes:
[1] Standard Errors assume that the covariance matrix of the errors
is correctly specified.
[2] The condition number is large, 3.93e+04. This might indicate
that there are strong multicollinearity or other numerical
problems.

In [187]:
rsqured_men = res_a_men.rsquared.round(3)
rsqured_women = res_a_women.rsquared.round(3)

In [188]:
print(f"There are difference for R^2 between men {rsqured_men} and R^2 women {rsqured_women} ")

There are difference for R^2 between men 0.156 and R^2 women 0.098

2. Compute the Chow test for equality of the parameters in the sleep equation for men and women. Use the form of the test that adds male and the interaction terms $male \cdot totwrk, ..., male \cdot yngkid$ and uses the full set of observations. What are the relevant $df$ for the test? Should you reject the null at the $5\%$ level?

Let $SSR_1$ be the sum of squared residuals obtained estimating  for the first group; this involves $n_1$ observations. Let $SSR_2$ be the sum of squared residuals obtained from estimating the model using the second group ($n_2$ observations). Now, the sum of squared residuals for the unrestricted model is simply $SSR_{ur} = SSR_1 + SSR_2$. The restricted sum of squared residuals is just the $SSR$ from pooling the groups and estimating a single equation, say $SSR_p$. Once we have these, we compute the $F-statistic$ as usual:

$$
F = \frac{[SSR_p - (SSR_1 + SSR_2)]}{(SSR_1 + SSR_2)}\cdot \frac{[n - 2(k+1)]}{k+1}
$$

where $n$ is the total number of observations. This particular $F-statistic$ is usually called the Chow statistic in econometrics. Because the Chow test is just an $F-test$, it is only valid under homoskedasticity. In particular, under the null hypothesis, the error variances for the two groups must be equal. As usual, normality is not needed for asymptotic analysis.

In [197]:
#the sum of squared residuals obtained estimating for the men
ssr_1 = res_a_men.ssr
#the sum of squared residuals obtained estimating for the women
ssr_2 = res_a_women.ssr
# sum of squared residuals  from pooling the groups
ssr_p = res.ssr
# number of calculation
n = len(df)
# number of restriction
k = 5

In [198]:
F_statistic = ((ssr_p - (ssr_1 + ssr_2))/(ssr_1 + ssr_2) ) * ( n - 2*(k + 1) ) /(k+1)
F_statistic

2.1163506287126244

In [199]:
# level of significant alpha = 5 %
alpha = 0.05
# number of restriction
k = 5
# df_ur 
df_ur = len(df) - 2*(k + 1)

In [201]:
F_critic = st.f.ppf(q=1-alpha, dfn=k, dfd=df_ur)
F_critic

2.227011753509297

In [202]:
if (F_static < F_critic):
    print("There are no resson for reject hypothesis H0, there are significant differences at all between the groups")
else:
    print("Reject hypothesis H1. There are no significant differences at all between the groups ")

There are no resson for reject hypothesis H0, there are significant differences at all between the groups